

*:not(i){
    font-family: 'Open Sans'!important;
}
h3{
    font-weight: bold;
}
/* ======== màn hình trên 992px , dành cho laptop, máy tính ======== */
/* ======== TOPBAR ======== */
.topbar .topbar-social a{
    padding: 0px 10px;
    color: #111111;
}
.topbar .topbar-social a:hover{
    color: #E65540;
    padding-bottom: 6px;
}
/* .topbar  */
.topbar-child1{
    font-size: 15px;
    text-transform: capitalize;
}
/* .topbar  */
.topbar-child1 .support{
    font-weight: 600;
    color: #4C4C4C;
}
/* .topbar  */
.topbar-child1 i{
    animation: changeColor 2s infinite;
    -moz-animation: changeColor 2s infinite;
    -webkit-animation: changeColor 2s infinite;
    -o-animation: changeColor 8s infinite;
}
@keyframes changeColor{
    0% {color: red;}
    25% {color: deepskyblue;}
    50%{color: greenyellow;}
    100%{color: blueviolet;}
}
.phone-number{
    font-size: 13px;
}
.topbar .topbar-child2{
    padding-right: 40px;
}
.topbar .topbar-child2 div{
    margin-left: 8px;
}
.topbar .topbar-child2  i:hover{
    color: #E65540;
    padding-bottom: 6px;
}






/* ======== WRAP HEADER ========  */
.wrap_header{
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}
.text-color-title{
    color: #e65540;
}
/* ======== logo ========= */

.logo img, .logo-mobile img{
    width: 100px;
    max-height: none;
}

.wrap_header .wrap_menu .main_menu li a{
    text-transform: uppercase;
}


/* ======== menu ngang ======== */

.main_menu li{
    padding: 0px;
}
.main_menu li:hover{
    border-bottom: none;
}
.main_menu li a{
    display: block;
    padding: 15px 10px;
}

.main_menu li a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background-color: #333333;
    transition: width 1s;
}

.main_menu>li:hover>a::after{
    width: 100%;
}


.sub_menu{
    background-color: #FFFFFF;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.3);
    padding: 0px;
    width: 200px;
}

.sub_menu li{
    position: relative;
}
.sub_menu li a{
    color: #333333;
    display: inline-block;
}
.sub_menu li a i{
    position: absolute;
    top: 18px;
    right: 6px;
}

.sub_menu li:hover a{
    color: #333333;
}


.main_menu>li>.sub_menu{
    top:100%;
    left: 11px;
}
.main_menu .sub_menu>li:hover>a::after{
    width: 100%;
}





/* ======== Header: khung tìm kiếm, đăng nhập, đăng ký, đã đăng nhập, giỏ hàng và view giỏ hàng ======== */
.header-icons{
    position: relative;
}
.header-icons .description-search, .search, .already-logged{
    margin-right: 8px;
}
.already-logged, .log-out{
    display: none;
    opacity: 1;
}


#search{
    position: absolute;
    border: 1px solid #E5E5E5;
    top: 150%;
    right: 75px;
    border-radius: 2px;
    display: none;
}

#frame-search{
    position: relative;
    background: #ffffff;
    width: 300px;
    padding: 8px 10px;
    color: #333333;
}

#btn-search{
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0px;
    cursor: pointer;
    background: #F5F5F5;
}

/* .header-icons .header-wrapicon2 .header-dropdown{
    width: 400px;
} */
.header-wrapicon2 .header-icon1,.header-wrapicon2 .header-icons-noti{
    margin-right: 10px;
}
.header-cart-item-img{
    box-shadow: 0px 0px 4px 2px #e1e1e1;
    margin-right: 15px;
    margin-left: 5px;
}
.header-cart-item-img::after{
    display: none;
}

.header-cart-item-name{
    margin-bottom: 4px;
}
.header-cart-item-txt{
    margin-bottom: 5px;
}



/* ======== màn hình từ 992px trở xuống, dành cho mobile, tablet ======== */


@media (max-width: 992px){
    .header-icons-mobile{
        position: relative;
        margin-right: 0px;
    }

    /* ======== Tìm kiếm ======== */
    #search-mobile{
        /* position: absolute; */
        border: 1px solid #E5E5E5;
        /* top: 150%; */
        /* right: 75px; */
        border-radius: 2px;
        z-index: 18;
        /* display: none; */
    }
    
    #frame-search-mobile{
        position: relative;
        background: #ffffff;
        width: 100%;
        height: auto;
        padding: 8px 10px;
        color: #333333;
    }
    
    #btn-search-mobile{
        position: absolute;
        width: 40px;
        height: 100%;
        bottom: 0px;
        right: 0px;
        cursor: pointer;
        background: #F5F5F5;
    }

    .header-icons-mobile .description-search-mobile{
        margin-left: 5px;
    }
    .header-icons-mobile .header-wrapicon1{
        display: none;
    }

    /* .header-icons-mobile .header-wrapicon2 .header-dropdown{
        width: 400px;
    } */


    /* ======== Đăng ký, đăng nhập ======== */

    .topbar-child2-mobile .login, .topbar-child2-mobile .register{
        margin-right: 8px;
    }
    .main-menu .item-topbar-mobile .topbar-social-mobile a{
        display: inline-block;
        padding: 7px 8px;
    }
    .main-menu .item-topbar-mobile .topbar-social-mobile a:hover{
        margin-bottom: 12px;
    }



    /* menu mobile  */
    .item-menu-mobile>.sub-menu>li{
        position: relative;
        /* background: #181818; */
    }
    /* .item-menu-mobile>.sub-menu>li>a{
        display: block;
        background: #181818;
    } */
    .item-menu-mobile .sub-menu li{
        font-size: 14px !important;
    }
    .item-menu-mobile .sub-menu  li i{
        position: absolute;
        top: 3px !important;
        right: 20px;
        font-size: 14px;
        padding: 10px;
        color: #181818;
    }

    .item-menu-mobile .sub-menu  li .sub-menu li{
        /* padding: 0px; */
        font-size: 12px !important;
    }
}


/* ======== xử lý nút tới lui của slide ========  */
.wrap-slick4, .wrap-slick5 {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* ------------------------------------ */
  .arrow-slick4, .arrow-slick5 {
    position: absolute;
    z-index: 100;
    top: calc((100% - 70px) / 2);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 39px;
    color: #cccccc;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .arrow-slick4:hover, .arrow-slick5:hover {
    color: #666666;
  }

  .next-slick4, .next-slick5 {
    right: -30px;
  }

  .prev-slick4, .prev-slick5 {
    left: -30px;
  }
  @media (max-width: 1280px) {
    .next-slick4, .next-slick5 {
      right: 0px;
    }

    .prev-slick4, .prev-slick5 {
      left: 0px;
    }
  }

  @media (max-width: 1610px) {
    .rs1-slick4 .next-slick4, .rs1-slick5 .next-slick5 {
      right: 0px;
    }

    .rs1-slick4 .prev-slick4, .rs1-slick5 .prev-slick5 {
      left: 0px;
    }
  }


/* ======== SẢN PHẨM MỚI ======== */
.sec-title{
    font-weight: 900;
}
.block2 .block2-img {
    margin-top: 15px;
    box-shadow: 0px 0px 4px 2px #e1e1e1;
}


.block2 .block2-img .img-hover{
    position: absolute;
    left: 100%;
}
.block2 .block2-img:hover .img-hover{
    left: 0px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.block2 .block2-txt .block2-price{
    text-transform: lowercase;
}

/* ======== lợi ích khi mua hàng tại shop ======== */
.box-benefits{
    padding: 16px 15px 15px;
}



/* ======== FOOTER ========  */
/* -------- footer -------- */

.footer p{
    font-size: 15px;
    font-weight: bold;
    color: #222222 !important;
}

.footer p span{
    font-size: 13px;
    font-weight: 400;
    color: #555555;
}

.text-cap{
    text-transform: capitalize;
}

footer h4{
    color: #222222 !important;
    font-weight: bold;
}

#fb-root {
    display: none;
}

/* ---- responsive plugin của facebook ----   */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    overflow-x: auto;
}

div.fb-like-box,
div.fb-like-box > span,
div.fb-like-box > span > iframe[style],
div.fb-comments,
div.fb-comments > span,
div.fb-comments > span > iframe[style] {
  width: 100% !important;
  overflow-x: auto;
}
/* -------- .copyright (bản quyền) -------- */
.copyright .guitar-center{
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}

.copyright .guitar-center:hover{
    text-decoration: underline;
}






/* ======== PRODUCT DETAIL ======== */
/* -------- thông tin: tên đàn, giá, tags, rating, số lượng mua , button thêm vào giỏ hàng  -------- */
.type{
    margin-bottom: 10px;
}

.product-detail-name{
    padding-bottom: 0px;
    margin-bottom: 5px;
    color: #222222;
}

.price-product{
    margin-bottom: 8px;
}

.price-new{
    color: #E65540;
}
.price-old{
    color: #222222;
}

.status-product{
    color: #888888;
    margin-bottom: 8px;
}

.note{
    margin-top: 8px;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}


/* -------- mô tả và thông số kỹ thuật -------- */
h5.title{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

h4.title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3.title{
    font-size: 15px;
    font-weight: 500px;
    margin-bottom: 10px;
}
.description{
    margin-bottom: 10px;
}
.video-description{
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#technical-info {
	font-size: 15px;
	color: #555555;
    line-height: 1.5;
    width: 100%;
    border: 1px solid #dddddd;
}
#technical-info tr th{
    width: 30%;
}
#technical-info tr td{
    width: 70%;
}

#technical-info th, td{
    padding: 10px;
}




/* -------- reviews về rating và comment -------- */

.box-1-dropdown{
    margin-bottom: 30px;
}
.box-show-comment-reviews{
    margin-bottom: 15px;
}
.box-show-user-reviews{
    display: flex;
    margin-top: 10px;
}
.box-show-user-reviews .box{
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-show-user-reviews .user{
    margin-right: 10px;
}

.box-show-comment-reviews .content-comment{
    margin-left: 30px;
}


.star-rating{
    margin-bottom: 10px;
}
.star-rating i, .content-reviews i , .show-star-rating i{
    cursor: pointer;
    color:#E3E3E3 ;
}

.active-rating{
    color: #FFC120 !important ;
}

.hover-active-rating{
    color: #FFC120 !important  ;
}



#frame-comment{
    background: #F4F4F4;
    width: 100%;
    border: 1px solid #f5f5f5;
}



/* ======== trang giỏ hàng ======== */
.cart-img-product{
    box-shadow: 0px 0px 4px 2px #e1e1e1;
}

.table-shopping-cart .column-1{
    width: 200px;
}
.table-shopping-cart .column-1 .cart-img-product{
    margin-left: 54px;
    text-align: center;
}
.table-shopping-cart .column-1,
.table-shopping-cart .column-2, 
.table-shopping-cart .column-3, 
.table-shopping-cart .column-4,
.table-shopping-cart .column-5{
    padding-left: 0px;
    text-align: center;
}

.table-shopping-cart .column-4{
    width: 140px;
}

/* .table-shopping-cart .column-6 .remove-item{
    padding-left: 34px;
} */

.cart-img-product::after{
    display: none;
}


.total-price{
    font-size: 18px;
    text-transform: uppercase;
}

.column-3, .column-5, .total-price span{
    font-weight: bold;
}




/* ======== TRANG ĐĂNG KÝ TÀI KHOẢN, ĐĂNG NHẬP ======== */
.register-page .container .row, .login-page .container .row{
    justify-content: center;
}


.form-register h4, .form-login h4, .wp-check-out h4{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #e65540;
}

.end{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.already-account, .no-account{
    line-height: 42px;
}
.already-account span, .no-account span {
    margin-right: 0.2em;
    font-size: 14px;
}
.already-account a, .already-account a{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}



/* ======== TRANG BÌNH LUẬN - ĐÁNH GIÁ ======== */
.all-comment-review h3{
    text-transform: capitalize;
}
.block-top{
    margin-bottom: 20px;
    /* margin-top: 20px; */
    padding: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
.block-rating {
    /* border: 1px solid #e2e2e2; */
    /* padding-left: 0px;
    padding-right: 0px; */
}

.block-info-product{
    display: flex;
    justify-content: center;
    -ms-flex: 0 0 39% ;
    flex: 0 0 39% ;
    max-width: 39% ;
    
}

.block-info-product .block-info-left{
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 4px 2px #e1e1e1;
    margin-right: 25px;

}
.block-info-product .block-info-left img{
    width: 100%;
    height: 100%;
}
.block-info-product .block-info-right{
    margin-top: 10px;
}
.block-info-product .block-info-right span,
.block-info-product .block-info-right del {
    /* display:block; */
    margin-right: 10px;
}
.block-info-product .block-info-right p{
    font-weight: 500;
    margin-bottom: 10px;
}
.block-info-product .block-info-right button{
    margin-top: 10px;
}


.block-star-average{
    text-align: center;
    margin-top: 10px;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    
    
}
.block-star-average p, .block-star-average-mobile p{
    font-size: 18px;
    font-weight: 500;
}
.number-average{
    font-size: 28px;
    margin-bottom: 5px;
    color: #FFC120;
}
.btn-active-send-review,.btn-see-detail, .btn-send-review, .btn-active-send-review-mobile{
    background: #181818;
    color: #fff;
    padding: 9px 15px;
    border-radius: 23px;
    
}
.btn-see-detail{
    display: block;
}
.btn-active-send-review:hover ,.btn-see-detail:hover, .btn-send-review:hover, .btn-active-send-review-mobile:hover{
    background-color: #e65540;
    color: white;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.block-type-star{
    margin-top: 13px;
    padding-left: 35px;
    -ms-flex: 0 0 36%;
    flex: 0 0 36%;
    max-width: 36%;
}
.number-star{
    display: flex;
    
    
}
/* .block-type-star .number-star span i{
    color: #E3E3E3;
    
} */
.number-star .bgb{
    width: 55%;
    background-color: #e9e9e9;
    height: 5px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    line-height: 5px;
    margin-top: 9px;
}

 /* tỉ lệ từng loại sao từ 1 đến 5 được vote . jquery chỉnh sữa */
.number-star .bgb .bgb-in{
    background-color: #f25800; 
    /* background-image: linear-gradient(90deg,#ff7d26 0%,#f25800 97%); */
    height: 5px;
    border-radius: 5px 0 0 5px;
    max-width: 60%;
}

.number-star .quantity-review{
    font-style: italic;
    font-weight: 500px;
    color: #e2e2e2;
    font-size: 13px;
}



.block-vote-star{
    margin-top: 20px;
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
}
.block-vote-star span{
    margin-right: 10px;
    margin-top: 3px;
}
.block-vote-star .star-rating{
    font-size: 20px;
}



.block-send-comment-review{
    /* display:flex; */
    margin-bottom: 20px;
    /* flex-wrap: wrap; */
}
.block-send-comment-review .block-left{
    /* flex: 0 0 50%; */

}
.block-send-comment-review .block-right{
    /* flex: 0 0 50%; */

}

.block-left textarea{
    width: 100%;
    height: 120px;
    background: #F4F4F4;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.block-send-comment-review .block-right input{
    padding: 8px;
    border: 1px solid #e6e6e6 !important;
    width: 48%;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
}
/* .block-send-comment-review .block-right input:focus, .form-check-out input:focus {
    background: #E8F0FE;
} */
.btn-send-review{
    width: 48%;
}
/* .block-top-2{
    display: none;
} */
.block-top-1-mobile{
    display:none;
}



/* -------- filter type star -------- */
.list-filter-type-star{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.list-filter-type-star .text-filter{
    margin-right: 10px;
}
.list-filter-type-star .type-star{
    color: #288ad6;
    margin: 0 10px;
    cursor: pointer;
}
.list-filter-type-star .type-star:hover{
    font-weight: bold;
}
.list-filter-type-star .type-star:nth-child(2) {
    font-weight: bold;
}

/* -------- list comment review -------- */
.list-comment-review{
    width: 100%;
}
.block-show-comment-review{
    padding: 15px;
    background: #F2F3F5;
    border-radius: 28px;
    margin-bottom: 10px;
}

.block-show-comment-review .block-show-1 .name{
    font-size: medium;
    font-weight: 600;
    margin-right: 10px;
}
.block-show-comment-review .block-show-1 .bought-at-shop{
    font-size: smaller;
    color: #42B72A;
}

.block-show-comment-review .block-show-2 .show-star-rating{
    font-size: smaller;
    color: #DEDDDD;
    margin-right: 10px;
}
.block-show-comment-review .block-show-2 .show-star-rating i{
    color: #FFC120;
}
.block-show-comment-review .block-show-2 .time-buy{
    font-size: small;
    font-style: oblique;
    color: #888888;
}

.block-show-comment-review .block-show-3 .comment{
    color: #333333;
    margin-top: 4px;
}

/* -------- phần comment review trang product detail -------- */
.see-all{
    display: inline-block;
    padding: 10px;
    background: #181818;
    border-radius: 23px;
    color: #ffffff;
}
.see-all:hover{
    background: #E65540;
    color: #ffffff;
}
.box-1-dropdown {
    margin-bottom: 10px;
}
.box-1-dropdown .block-top .block-top-1{
    /* margin-top: 30px; */
}
.box-1-dropdown .block-top .block-top-1 .block-star-average{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: none;
    border-left: none;
}
.box-1-dropdown .block-top .block-top-1 .block-type-star{
    /* margin-top: 37px; */
    border-right: none;
    border-left: none;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}
.box-1-dropdown .block-top .block-top-1 .block-btn-active-send-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
}
.box-1-dropdown .block-top .block-top-1 .block-btn-active-send-review button{
   
}

/* -------- responsive trang comment review, product-detail -------- */
@media screen  and (max-width: 1024px){
    .box-1-dropdown .block-top .block-top-1{
        display: none;
    }
    .block-rating .block-top .block-top-1{
        display: none;
    }
    .block-top-1-mobile{
        display:block;
    }
    .block-rating{
        border: none;
    }
    
    .block-top-1-mobile{
        text-align: center;
    }
    .block-top-1-1-mobile{
        justify-content: center;
        margin-bottom: 30px;
    }
    .block-star-average-mobile{
        flex: 0 0 40%;
        text-align: center;
        border-right: 1px solid #e2e2e2;
    }
    .block-star-average-mobile .number-average{
        margin-top: 22px;
    }
    .block-type-star-mobile{
        flex: 0 0 60%;
        padding-left: 25px;
    }

    .block-send-comment-review .block-left, 
    .block-send-comment-review .block-right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-send-comment-review .block-right input{
        width: 100%;
    }
    .btn-send-review{
        width: 40%;
    }
    .list-comment-review {
        width: 100%;
    }
}
@media screen and (max-width: 767px){
    
}

@media screen and (max-width: 599px){
    .block-star-average-mobile{
        flex: 0 0 100%;
        text-align: normal;
        margin-bottom: 15px;
        border-right: none;
    }
    /* .block-star-average-mobile .number-average p{
        display: none;
    } */
    .block-type-star-mobile{
        flex: 0 0 100%;
        padding-left: 12px;
    }
    .btn-send-review{
        width: 48%;
    }
}
@media screen and (max-width: 413px){
    .btn-send-review{
        width: 54%;
    }
    .block-top{
        padding: 10px;
        border: 1px solid #e1e1e1;
    }
    .block-star-average-mobile .number-average{
        margin-top:14px;
    }
}
@media screen and (max-width: 374px){
    .block-type-star-mobile{
        flex: 0 0 100%;
        padding-left: 12px;
    }
    .number-star .bgb{
        width: 50%;
    }
    .btn-send-review{
        width: 68%;
    }
    .number-star .quantity-review{
        font-size: 10px;
    }
}



/* ======== Trang Thanh Toán ======== */
.wp-check-out .text-product, .total-price-product, .price-transport, .total{
    font-size: 22px;
    /* margin-bottom: 10px; */
}
.wp-check-out .text-product span, .total-price-product span, .price-transport span, .total span{
    float: right;
}
.total-price-product, .price-transport, .text-product, .total{
    padding: 15px 0px;
}
.wp-check-out .list-product{
    margin-top: 10px;
    margin-bottom: 10px;
}
.wp-check-out .list-product li .name-product{
    width: 70%;
}

.wp-check-out .title{
    font-size: 25px;
    font-weight: bold;
}
.wp-check-out .note-order{
    margin-top: 30px;
    padding: 20px;
    background: #F2F3F5;
    border-radius: 15px;
}
.wp-check-out .note-order i{
    margin-right: 8px;
}
.wp-check-out .note-order span span{
    font-weight: bold;
    color: #f00;
}

.wp-check-out .form-check-out textarea{
    background: #F4F4F4;
}
.wp-check-out .form-check-out h4{
    color: #e65540;
}

.list-product li{
    margin-bottom: 8px;
}

@media screen and (max-width: 1023px){
    .wp-check-out .list-product li .name-product {
        width: 66%;
    }
    .price-products {
        font-size: 13px;
    }
    .name-product{
        font-size: 13px;
    }
}
@media screen and (max-width: 599px){

    .wp-check-out .text-product, .total-price-product, .price-transport, .total {
        font-size: 20px;
    }
    .wp-check-out .list-product li .name-product {
        width: 61%;
    }
   
}




/* ======== TRANG DANH SÁCH SẢN PHẨM ======== */
.leftbar h4{
    padding-top: 15px;
    color: #E65540;
    font-weight: bold;
}
.leftbar>ul{
    /* border-bottom: 2px solid #E65540; */
}
.leftbar ul li{
    position: relative;
    /* padding-top: 8px;
    padding-bottom: 8px; */
}
.leftbar ul li a{
    display: block;
}
.leftbar ul li i{
    position: absolute;
    top: 8px;
    padding: 5px 10px;
    font-size: 11px;
    right: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #888888;
}
.leftbar ul li i:hover{
    color: #E65540;
}
.leftbar ul li ul{
    display: none;
}
/* xoay nút chevron-down ngược lên  */
.active-rotate-chevron-down{
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
/* .active-rotate-down-chevron-up{
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
} */





/* ======== TRANG TÀI KHOẢN CỦA TÔI ======== */
.left-sidebar-tab{
    margin-bottom: 25px;
}

/* name và avatar user */
.wp-name-and-avatar-user{
    margin-bottom: 25px;
    margin-right: 0px; 
    margin-left: 0px;
}
.avatar-user{
    width: 100px;
    height: auto;
    margin-right: 18px;
}
.avatar-user img{
    width: 100%;
}
.name-user{
    width: 200px;
    padding-top: 10px;
}
.name-user .name{
    font-size: 20px;
    font-weight: bold;
    color: #E65540;
}

/* tab-left-sidebar menu bên trái  */
.tab-menu{
    border: 1px solid #e1e1e1;  
    border-bottom: none;
}
.tab-menu a{
    display: block;
    padding: 15px 15px;
    border-bottom: 1px solid #e1e1e1;
    text-transform: uppercase;
    font-size: 14px;
}
.tab-menu a:hover{
    background: #E65540;
    color: #ffffff;
}
.tab-menu a i{
    margin-right: 10px;
}

.left-sidebar-tab a.active{
    background: #E65540;
    color: #ffffff;
}
.left-sidebar-tab .nav{
    display: block !important;

}



.title-tab{
    padding: 0px 0px 20px 5px;
    text-transform: uppercase;
    color: #e65540;
    margin-bottom: 20px;
}
.wp-overview,
.wp-order-history,
.wp-info-account,
.wp-order-placed  {
    padding: 25px;
    border: 1px solid #e1e1e1; 
}
/* tổng quan tài khoản của tôi  */
.wp-overview{
    
    
    /* display:none;  */
}
.wp-overview .content-overview{
    margin-right: 0px; 
    margin-left: 0px;
}
.wp-overview .content-overview .overview-block{
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
}
.total-order{
    background: #00C0EF;
}
.cancel-order{
    background: #DD4B39;
}
.delivering-order{
    background: #F39C12;
}
.complete-order{
    background: #00A65A;
}
.wp-overview .content-overview .overview-block .name-block{
    font-size: 18px;
    text-transform: capitalize;
    color: lightyellow;
}
.wp-overview .content-overview .overview-block .quantity-order{
    color: lightyellow;
}

/* lịch sử đặt hàng tài khoản của tôi  */
.wp-order-history {
    /* display: none; */
}
.block-search-by-code, .block-status{
    
    margin-right: 20px;
}
.block-search-by-code, .block-status, .btn-search-order{
   margin-top: 10px;
   margin-bottom: 10px;
   
}
.search-by-code, .status{
    padding: 13px 20px;
    border: 1px solid #e1e1e1 !important;
    font-size: 15px;
}
/* .search-by-code:focus , .status:focus{
    border: 2px solid #e65540 !important;
} */
.status{
    margin-bottom: 0px;
    border: none;
}
.status:focus{
    border: none;
}
.btn-search-order{
    padding: 13px 40px;
    cursor: pointer;
}

/* list các đơn hàng của tài khoản  */
.block-list-order .list-order li{
    padding: 20px;
    background: #F2F3F5;
    margin-bottom: 10px
    /* border-radius: 25px; */
}
.block-code-order{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}
.block-code-order .code-order{
    font-size: 22px;
    color: #00A65A;
    margin-left: 5px;
}
.block-customer,.block-day-order, .block-status-order, .block-total-price-order, .block-detail-order a{
    margin-bottom: 4px;
    font-size: 17px;
}
.block-customer .customer{
    font-weight: bold;
    margin-left: 5px;
}
.block-day-order .day-order{
    font-style: italic;
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}
.block-status-order .status-order{
    font-variant: all-small-caps;
    font-weight: bold;
    margin-left: 5px;
    font-size: 17px;
    color: #00C0EF;
}
.block-total-price-order .total-price-order{
    font-weight: 700;
    color: #DD4B39;
    margin-left: 5px;
}
.block-total-price-order i{
    margin-right: 8px;
}
.block-detail-order a{
    display: block;
    font-style: oblique;
    font-weight: bold;
    color: #F39C12;
}
.block-detail-order a:hover{
    color: #f00;
    transform: scaleX(1.05);
    transition: all 1s;
}
.block-detail-order a i{
    font-size: 12px;
}

/* responsive trang tài khoản của tôi  */
@media screen and (max-width: 1204px){
    .wp-overview .content-overview .overview-block {
        padding: 18px;
    }
    .wp-overview .content-overview .overview-block .name-block {
        font-size: 16px;
    }
}
@media screen and (max-width: 767px){
    .wp-overview .content-overview .overview-block {
        /* padding: 18px; */
        margin-bottom: 10px;
    }
    /* .wp-overview .content-overview .overview-block .name-block {
        font-size: 16px;
    } */
}
@media screen and (max-width: 413px){
    .wp-overview .content-overview>div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-code-order {
        font-size: 20px;
    }
    
}
@media screen and (max-width: 374px){
    .title-tab{
        font-size: 22px;
    }
    .block-customer,.block-day-order, .block-status-order, .block-total-price-order, .block-detail-order a{
        font-size: 13px;
    }
    .block-day-order .day-order {
        font-size: 13px;
    }
    .block-total-price-order i {
        margin-right: 6px;
    }
}




/* ======== TRANG ĐẶT HÀNG THÀNH CÔNG ======== */
.info-top .icon-check-circle i{
    font-size: 80px;
    color: #36c357;
}
.info-top h1{
    font-size: 37px;
    font-weight: 500;
}
.info-top .text-order-and-status{
    padding: 10px 20px;
    display: inline-block;
    background: #E3E1E1;
    font-size: 18px;
    text-transform: uppercase;
    color: #212529;
    font-weight: 700;
    border-radius: 28px;
}


.info-order .title-info-order{
    font-size: 20px;
    text-transform: uppercase;
    color: #e65540;
}
.info-order p{
    font-size: 16px;
}
.info-order .order-detail .table-order-detail{
    border: 1px solid #e1e1e1;
    width: 100%;
    margin-top: 15px;
}
.table-order-detail tr{
    border-bottom: 1px solid #e1e1e1;
    /* padding: 10px; */
}
.table-order-detail thead tr th{
    text-transform: uppercase;
}
.table-order-detail tr th{
    border-right: 1px solid #e1e1e1;
    padding: 15px;
}
tr td{
    padding: 15px;
    font-size: 16px;
    color: #888888;
}

/* responsive trang đặt hàng thành công  */
@media screen and (max-width: 599px){
    .info-top h1 {
        font-size: 26px;
    }
    .info-top .text-order-and-status {
        font-size: 16px;
    }
}


/* ======== chi tiết đơn đã đặt ở phần xem chi tiết đơn ======== */
.wp-order-placed .content-order-placed .table-order-placed{
    border: 1px solid #e1e1e1;
    width: 100%;
    
}
.table-order-placed tr{
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}
.table-order-placed tr th, .table-order-placed tr td{
    border-right: 1px solid #e1e1e1;
    padding: 15px;
}
.table-order-placed thead tr th{
    text-align: center;
    text-transform: uppercase;
}
/* responsive bảng trong chi tiết đơn hàng của tab lịch sử đặt hàng  */
@media screen and (max-width: 767px){
    .wp-order-placed .content-order-placed{
        overflow-x: auto;
    }
}
@media screen and (max-width: 599px){
    .table-order-placed thead{
        display: none;
    }
    .table-order-placed tr th,.table-order-placed tr td{
        display: block;
        border-bottom: 1px solid #e1e1e1;

    }
    .table-order-placed tr{
        text-align: left;
    }
}















